.btn.btn-default,.list-group.bg-success > li,.main-header .more-link,.activity-icon.bg-success{background:#65cea7!important;}
.list-group.bg-success > li .badge{color:#65cea7!important;}
.panel.bg-info{background:#6bafbd!important;}


body {
    color: #777;
    background: #f9f9f9;
}
a {
    color: #4db08b;
}
aside{
    background: #495b6c;
}



aside .main-menu > ul > li > a {
    color: #BECFE0;
}
header.navbar{
    background-color: #fff;
}
header .navbar-header {
    background: #fff;
    border: 3px solid #fff;
}
header .navbar-brand.lendfoundry-logo {
    border-left: 1px solid #dadada;
}

header.navbar #right-menu > ul > li >a {
    color: #BECFE0;
}
header.navbar #right-menu .dropdown-menu li {
    border-bottom-color: #f1f5fc;
}
header.navbar #right-menu > ul > li > a:hover, #top-nav .nav-notification > li > a:focus {
    color: #fff;
}
header.navbar #right-menu > ul > li.open {
    background: #415160;
}
header.navbar #right-menu > ul > li.open a{background:none;}
header.navbar #right-menu > ul > li > a {
    color: #BECFE0;
}
header.navbar #right-menu > ul > li > a:focus,header.navbar #right-menu > ul > li >a:hover {
    color: #777;
}

header.navbar #right-menu  .dropdown-menu {
  
    border-color: #f1f5fc;
}
.main-header {
	border-bottom: 1px solid #eee;
}

.main-header .more-link {
    background: #65cea7 none repeat scroll 0 0;
    color: #fff;
}
.main-header .page-title span {
    color: #999;
    text-shadow: 0 1px 0 #fff;
}
.main-header .page-stats li {
    border-right: 1px solid #ccc;
}

.main-header .page-stats li .value span {
    color: #bbb;
    text-shadow: 0 1px 0 #fff;
}
.main-header .page-stats li .value h4 {
    color: #777;
}
.breadcrumb {
    background: 0 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px #fff;
}
.breadcrumb li {
    color: #777;
}
.breadcrumb a {
    color: #777;
}

.panel.panel-default .panel-heading {
    background: #fff;
    color: #777;
    border-color: #f1f5fc;
}
.activity-icon {
    background: #999;
    border: 2px solid rgba(0,0,0,.2);
    border-color: rgba(255,255,255,.5);
    color: #fff;
}

.bg-success {
    background-color: #65cea7;
    color: #fff;
}

.main-header .page-stats li .value span {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-header .page-stats li .value h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #777;
}
		
aside .sidebar-inner .user-block .detail p{font-size:11px;}		
.todo-panel-group .panel-title  .activity-icon{
	color:#fff; 
}

.panel.bg-info .panel-heading {
    font-size: 14px;
    font-weight: 700;
}
.doc-upload-container > h3 {
    font-size: 16px;
    font-weight: 700;
}

.doc-upload-text > span {
    font-size: 15px;
    line-height: 50px;
}


.doc-upload-text > span i {
	    font-size: 38px;
}

aside .sidebar-inner .user-block {
    padding: 10px;
    border-bottom: 1px solid #415160;
    box-shadow: 0 1px 0 #34364a;
    -moz-box-shadow: 0 1px 0 #34364a;
    -webkit-box-shadow: 0 1px 0 #34364a;
}
aside .sidebar-inner .user-block .detail {
    color: #e6f1f7;
}
.badge-danger, .label-danger {
    background-color: #fc8675;
    color: #fff;
}
.bg-info {
    background-color: #6bafbd;
    color: #fff;
}
.panel.bg-info {
    color: #fff;
}
.panel.bg-info .panel-heading {
  background: rgba(20, 20, 20, 0.07) none repeat scroll 0 0;
    border-color:rgba(0,0,0,.1);
    color: #fff;
}
.list-group.bg-success{background:none;}
.list-group.bg-success > li{background-color: #65cea7;
    color: #fff; border-color:rgba(255, 255, 255, 0.5)}
	.list-group.bg-success > li .badge {
    background-color: #fff; color:#65cea7}
.doc-upload-container {
    border: 1px solid #ddd;
}
.doc-upload-area {
    border: 1px dashed rgba(0, 0, 0, 0.1);  
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
}
.btn.btn-default {
	background:#65cea7; border-color:rgba(0, 0, 0, 0.2); color:#fff
}

.form-control{font-size:12px;}
.select_fields{font-size:12px;color: #555;}

/*------- Font Style ---------*/
body {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
b, strong {
    font-weight: 700;
}
aside .main-menu > ul > li > a {
    font-size: 13px;
}
.main-header .page-stats li .value span {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.main-header .page-stats li .value h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}
.breadcrumb {
    font-size: 11px;
    font-weight: 700;
}
.breadcrumb li {
    line-height: 27px;
}
.breadcrumb a {
    text-decoration: none;
}
.panel.panel-default .panel-title a {
    font-size: 12px;
}
.activity-icon.small [class*=fa-] {
    line-height: 30px;
}
.activity-icon.small {
    font-size: 20px;
}

.panel.panel-default .panel-title a {
    font-size: 14px;
    line-height: 30px;
}
.panel.todo-panel-group .panel-title a {
    font-size: 14px;
    line-height: 30px;
}
aside .sidebar-inner .user-block .detail p{ font-size:11px;}
.panel.bg-info .panel-heading {
    font-size: 14px;
    font-weight: 700;
}
.doc-upload-container > h3 {
    font-size: 16px;
    font-weight: 700;
}
.doc-upload-text > span {
    font-size: 15px;
    line-height: 50px;
}
.doc-upload-text > span i {
    font-size: 38px;
}

.agree {
    color: #777;
}

.account_btn {
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
}

.privacy-text{font-size:13px;}
.done-heading {
    font-size: 18px;
    text-align: center;
}
.done-text {
    font-size: 13px;
    text-align: center;
}
.error_message{color:#D10000; display: inline-block}
.b-logo { background:#6bafbd; border: 2px solid #6bafbd; box-shadow:inset 0px 0px 0px 2px #fff;}
.logo-text {color: #fff;}
h4#currentVisitor span{color: #777;}